body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilos para el Navbar */
.navbar {
  background-color: #329F5B;
  color: white;
}

#sidebar{

  background-color: #329F5B;
  color: white;
}

.navbar-brand,
.nav-link {
  color:white!important;
}

.nav-link:hover {
  color: yellow !important;
}

.search{
  color: black;
}

.logo img {
  width: 300px; /* Adjust the width of your logo image */
  height: 80px;
}


/* StackedExample.css */
/* StackedExample.css */
.reduced-height {
  height: calc(100vh - 80px); /* Ajusta la altura según sea necesario (80px es un ejemplo) */
  margin-top: 80px; /* Ajusta el margen superior según sea necesario */
  position: fixed; /* Fija el Navbar en la posición */
  top: 0;
  bottom: 0;
  overflow-y: auto; /* Añade desplazamiento vertical si es necesario */
}

